<div class="container mt-4">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header alert-primary" id="headingOne">
        <h2 class="mb-0">
         <h6 class="text-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Obtener los datos de todos los centros educativos del pais
         </h6>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>El siguiente request permite obtener todas las escuelas, liceos y colegios del sector publico y privado de la Republica dominicana.</p>

          <div class="alert alert-success" role="alert">
          <p>
           <a class="w-100 text-success" style="text-decoration: none;" href="https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/All" target="_blank">
               <b>https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/All</b>
              </a>
          </p>
         </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="headingTwo">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Obtener los datos de todos los centros educativos del pais por ID
          </h6>
        </h2>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>El siguiente request permite obtener todas las escuelas, liceos y colegios del sector publico y privado de la Republica dominicana por su ID.</p>

          <div class="alert alert-success" role="alert">
          <p>
            <b>https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/All/[ID]</b>
          </p>
         </div>
         <h5>Ejemplo:</h5>
         <div class="alert alert-success" role="alert">
          <p>
           <a class="w-100 text-success" style="text-decoration: none;" href="https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/All/43" target="_blank">
               <b>https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/All/43</b>
              </a>
          </p>
         </div>
         <h5>Resultado</h5>
          <div class="col">
            <img src="../../../assets/Captura1.PNG" height="350" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="headingThree">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Obtener los datos de todos los centros educativos del pais por el codigo del plantel
          </h6>
        </h2>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>El siguiente request permite obtener todas las escuelas, liceos y colegios del sector publico y privado de la Republica dominicana por el codigo del plantel educativo.</p>

          <div class="alert alert-success" role="alert">
          <p>
            <b>https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/Codigo_plantel/[\codigo\]</b>
          </p>
         </div>
         <h5>Ejemplo:</h5>
         <div class="alert alert-success" role="alert">
          <p>
           <a class="w-100 text-success" style="text-decoration: none;" href="https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/Codigo_plantel/32037275" target="_blank">
               <b>https://dad-yamc-apis-cerd.herokuapp.com/api/Centros_Educativos_RD/Codigo_plantel/32037275</b>
              </a>
          </p>
         </div>
         <h5>Resultado</h5>
          <div class="col">
            <img src="../../../assets/datos-por-plantel.PNG" height="350" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading4">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Obtener los datos de todos los centros educativos del pais por la provincia
          </h6>
        </h2>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading5">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Obtener los datos de todos los centros educativos del pais por el municipio con relacion a una provincia
          </h6>
        </h2>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading6">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            Obtener los datos de todos los centros educativos del pais por sector
          </h6>
        </h2>
      </div>
      <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading7">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            Obtener los datos de todos los centros educativos del pais por sector con relacion a una provincia
          </h6>
        </h2>
      </div>
      <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading8">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
            Obtener los datos de todos los centros educativos del pais por sector con relacion a una provincia y a un municipio
          </h6>
        </h2>
      </div>
      <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading10">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
            Obtener los datos de todos los centros educativos del pais por regional
          </h6>
        </h2>
      </div>
      <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading11">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
            Obtener los datos de todos los centros educativos del pais por distrito
          </h6>
        </h2>
      </div>
      <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header alert-primary" id="heading11">
        <h2 class="mb-0">
          <h6 class="text-primary" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
            Obtener los datos de todos los centros educativos del pais por distrito con relacion a un sector
          </h6>
        </h2>
      </div>
      <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
  </div>

</div>
