<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: sticky; top: 0px;">
  <a class="navbar-brand" [routerLink]="['/Home']" >
      <img src="https://github.com/ADM-YAMC/Docs-api-hospitales/blob/master/imagenes/api.png?raw=true" style="width: 30px; height: 30px;" class="d-inline-block align-top" alt="">
      DAD-YAMC-APIs
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Home']" routerLinkActive="router-link-active"  data-toggle="collapse" data-target=".navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscars" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<section class="mt-5">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">dad-yamc-apis.com</a>
    </div>
  </footer>
</section>
